.fixed-container{
    width:100%;
    height: auto;
    border: solid 2px black;
    position: fixed;
    z-index: 99;
    background: #fff;
}

.container{
    margin: 15px 10px;
    width: 95%;
    height: auto;
    /* border: solid 2px red; */
}

.flex-container{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 30px;
    /* margin: auto; */
}

.logo a{
    text-decoration: none;
    color: #2b2320;
    font-size: 28px;
    padding: 10px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
}


.navi a{
    text-decoration: none;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    color: #4d4643;
}

.navi li{
    list-style: none;
}

.navi ul{
    display: flex;
    margin: 10px;
    display: none;
}

.back-img{
    width: 345px;
    height: 105vh;
    background-image: url(/images/bg-img1.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
}

.blur{
    height: auto;
    width: auto;
    position: absolute;
    top: 10%;
    left: 0%;
    margin: 55px;
    box-sizing: border-box;
    background: rgba(28, 23, 21, 0.7);
    border-top: 5px solid #f03c02;
}

.blur h2{
    color: #fff;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 22px;
    font-family: "Muli", sans-serif;
}

.blur p{
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 8px;
    line-height: 25px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}


.read{
    height: 33px;
    width: 99px;
    text-align: center;
    padding-top: 10px;
    border: #f03c02 solid 2px;
    margin-bottom: 20px;
    color: white;
}

.span1{
    color: #f03c02;
}

.head-para{
    text-align: center;
    height: auto;
    padding-bottom: 30px;
}

.head-para h1{
    font-size: 28px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    color: #574741;
    margin: 11px -2px;
}

.head-para p{
    font-size: 21px;
    line-height: 25px;
    opacity: 0.7;
    margin-bottom: 0px;
}

.second-button a{
    text-decoration: none;
    padding: 10px;
    font-size: 11px;
    color: #f03c02;
}

 .second-button{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 2px;
    transition: 0.4s;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #f03c02;
    color: #f03c02;
    background: #fff;
}

.pg2-btndiv{
    text-align: center;
}

.second-button:hover a{
    color: #fff;  
}
.second-button:hover{
    background-color: #f03c02;
    transition: 0.5s;
}  















/* page(1) */

@media(min-width:576px){
    .fixed-container{
        width:100%;
        height: auto;
        border: solid 2px black;
        position: fixed;
        z-index: 99;
        background: #fff;
    }

    .container{
        margin: 15px 10px;
        width: 95%;
        height: auto;
        border: solid 2px red;
    }
    


    .flex-container{
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 30px;
    }
    
    .logo a{
        text-decoration: none;
        color: #2b2320;
        font-size: 28px;
        padding: 10px 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    
    .navi a{
        text-decoration: none;
        margin: 10px;
        font-family: "Open Sans", sans-serif;
        color: #4d4643;
    }
    
    .navi li{
        list-style: none;
    }
    
    .navi ul{
        display: flex;
        margin: 10px;
        display: none;
    }
    
    .back-img{
        width: 100%;
        height: 105vh;
        background-image: url(/images/bg-img1.jpg);
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .blur{
        height: auto;
        width: auto;
        position: absolute;
        top: 31%;
        left: 0%;
        margin: 54px;
        box-sizing: border-box;
        background: rgba(28, 23, 21, 0.7);
        border-top: 5px solid #f03c02
    }
    
    .blur h2{
        color: #fff;
        margin-left: 20px;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-right: 10px;
        font-size: 22px;
        font-family: "Muli", sans-serif;
    }
    
    .blur p{
        color: #fff;
        font-size: 16px;
        margin-left: 20px;
        margin-right: 8px;
        line-height: 25px;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
    }
    
    
    .read{
        height: 33px;
        width: 99px;
        text-align: center;
        padding-top: 10px;
        border: #f03c02 solid 2px;
        margin-bottom: 20px;
        color: white;
    }
    
    .span1{
        color: #f03c02;
    }
    
    .head-para{
        text-align: center;
        height: auto;
        padding-bottom: 30px;
    }
    
    .head-para h1{
        font-size: 28px;
        font-weight: 700;
        font-family: "Muli", sans-serif;
        color: #574741;
        margin: 11px -2px;
    }
    
    .head-para p{
        font-size: 21px;
        line-height: 25px;
        opacity: 0.8;
        margin-bottom: 0px;
    }

    .pg2-btndiv{
        text-align: center;
    }
}




@media(min-width:700px){

    .fixed-container{
        width:100%;
        height: auto;
        border: solid 2px black;
        position: fixed;
        z-index: 99;
        background: #fff;
    }

    .container{
        margin: 15px;
        width: auto;
        height: auto;
        border: solid 2px red;
    }
    

    .flex-container{
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 30px;
        margin: 15px 55px;
    }
    
    .logo a{
        text-decoration: none;
        color: #2b2320;
        font-size: 28px;
        padding: 10px 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    
    .navi a{
        text-decoration: none;
        margin: 10px;
        font-family: "Open Sans", sans-serif;
        color: #4d4643;
    }
    
    .navi li{
        list-style: none;
    }
    
    .navi ul{
        display: flex;
        margin: 10px;
        display: none;
    }
    
    .back-img{
        width: 700px;
        height: 105vh;
        background-image: url(/images/bg-img1.jpg);
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .blur{
        height: auto;
        width: auto;
        position: absolute;
        top: 42%;
        left: 0%;
        margin: 54px;
        box-sizing: border-box;
        background: rgba(28, 23, 21, 0.7);
        border-top: 5px solid #f03c02
    }
    
    .blur h2{
        color: #fff;
        margin-left: 20px;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-right: 10px;
        font-size: 22px;
        font-family: "Muli", sans-serif;
    }
    
    .blur p{
        color: #fff;
        font-size: 16px;
        margin-left: 20px;
        margin-right: 8px;
        line-height: 25px;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
    }
    
    
    .read{
        height: 33px;
        width: 99px;
        text-align: center;
        padding-top: 10px;
        border: #f03c02 solid 2px;
        margin-bottom: 20px;
        color: white;
    }
    
    .span1{
        color: #f03c02;
    }
    
    .head-para{
        text-align: center;
        height: auto;
        padding-bottom: 30px;
    }
    
    .head-para h1{
     font-size: 28px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    color: #574741;
    margin: 24px 104px;
    line-height: 34px;
    }
    
    .head-para p{
        font-size: 20px;
        line-height: 25px;
        opacity: 0.7;
        margin: 1px 61px;
    }

    .second-button{
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 2px;
        transition: 0.4s;
        margin: 10px;
        border-radius: 4px;
        border: 2px solid #f03c02;
        color: #f03c02;
        background: #fff;
        /* text-align: center; */
    }
    
    .second-button a{
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
    }

    .pg2-btndiv{
        text-align: center;
    }
}



@media(min-width:1000px){
    .fixed-container{
        width:100%;
        height: auto;
        border: solid 2px black;
        position: fixed;
        z-index: 99;
        background: #fff;
    }

    .container{
        margin: 15px;
        width: auto;
        height: auto;
        border: solid 2px red;
    }
    


    .flex-container{
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 30px;
        margin: 10px 0px;
    }
    
    .logo a{
        text-decoration: none;
        color: #2b2320;
        font-size: 28px;
        padding: 10px 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    
    .navi a{
        text-decoration: none;
        margin: 7px;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        color: #4d4643;
    }
    
    .navi li{
        list-style: none;
    }

    .navi i{
        display: none;
    }
    
    .navi ul{
        display: flex;
        margin: 10px;
       
    }
    
    .back-img{
        width: 1000px;
        height: 650px;
        background-image: url(/images/bg-img1.jpg);
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .blur{
        height: auto;
        width: auto;
        position: absolute;
        top: 37%;
        left: 0%;
        margin: 54px;
        box-sizing: border-box;
        background: rgba(28, 23, 21, 0.7);
        border-top: 5px solid #f03c02
    }
    
    .blur h2{
        color: #fff;
        margin-left: 20px;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-right: 10px;
        font-size: 22px;
        font-family: "Muli", sans-serif;
    }
    
    .blur p{
        color: #fff;
        font-size: 16px;
        margin-left: 20px;
        margin-right: 8px;
        line-height: 25px;
        margin-bottom: 35px;
        font-family: "Open Sans", sans-serif;
    }
    
    
    .read{
        height: 33px;
        width: 99px;
        text-align: center;
        padding-top: 10px;
        border: #f03c02 solid 2px;
        margin-bottom: 40px;
        color: white;
    }

    .flex-container-pg2{
        display: flex;
    }

    .head-para h1{
        margin: 19px 6px;
    }

    .head-para{
        /* text-align: center; */
        height: auto;
        padding-bottom: 30px;
        width: 69%;
    }


    .head-para p{
        font-size: 20px;
        line-height: 25px;
        opacity: 0.7;
        margin: 13px 0px;
    }

    .second-button{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.4s;
    border-radius: 4px;
    border: 2px solid #f03c02;
    color: #f03c02;
    background: #fff;
    margin-top: 43px;
    }

    .pg2-btndiv{
        margin: 20px;
    }
}






    
    /* .span1{
        color: #f03c02;
    }
    
    .head-para{
        text-align: center;
        height: auto;
        padding-bottom: 30px;
    }
    
    .head-para h1{
        font-size: 28px;
        font-weight: 700;
        font-family: "Muli", sans-serif;
        color: #574741;
        margin: 11px -2px;
    }
    
    .head-para p{
        font-size: 18px;
        line-height: 21px;
        opacity: 0.7;
        margin-bottom: 20px;
    }
    
    .second-button a{
        text-decoration: none;
        padding: 10px;
    
    } */
    


@media(min-width:1200px){
    .back-img{
        width: 100%;
        height: 534px;
        background-image: url(/images/bg-img1.jpg);
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        position: relative;
    }

    .fixed-container{
        width:100%;
        height: auto;
        border: solid 2px black;
        position: fixed;
        z-index: 99;
        background: #fff;
    }

    .container{
        margin: 15px;
        width: auto;
        height: auto;
        border: solid 2px red;
    }
    
    .flex-container{
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 30px;
    }
    .logo a{
        text-decoration: none;
        color: #2b2320;
        font-size: 28px;
        padding: 10px 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .navi a{
        text-decoration: none;
        margin: 10px;
        font-family: "Open Sans", sans-serif;
        color: #4d4643;
    }

    .navi li{
        list-style: none;
    }
    
    .navi ul{
        display: flex;
        margin: 10px;
        /* display: none; */
    }

    .blur{
        height: auto;
        width: auto;
        position: absolute;
        top: 26%;
        left: 0%;
        margin: 66px 289px;
        box-sizing: border-box;
        background: rgba(28, 23, 21, 0.7);
        border-top: 5px solid #f03c02;
    }

    .navi i{
        display: none;
    }

    .head-para p{
        font-size: 18px;
        line-height: 25px;
        opacity: 0.7;
        margin: 13px 0px;
    }
    
    
   


    
}

@media(min-width:1400px){
    .fixed-container{
        width: 100%;
        border: solid 2px black;
        position: fixed;
        z-index: 99;
        background: #fff;
    }
    
    .flex-container{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto; 
        height: 59px;
    }
    
    
    .logo a{
        text-decoration: none;
        color: #2b2320;
        font-size: 28px;
        padding: 10px 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .navi i{
        display: none;
    }
    
    .navi a{
        text-decoration: none;
        margin: 5px;
        font-family: "Open Sans", sans-serif;
        color: #4d4643;
        font-size: 14px;
    }
    
    .navi li{
        list-style: none;
    }
    
    .navi ul{
        display: flex;
        margin: 5px;
        /* display: none; */
    }

    .blur h2{
        color: #fff;
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 700;
    }
    
    .blur p{
        color: #fff;
        font-size: 19px;
        margin-left: 20px;
        margin-right: 30px;
        line-height: 30px;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
    }

    .blur{
        height: auto;
        width: auto;
        position: absolute;
        top: 200px;
        left: 348px;
        right: 93px;
        margin: 7px;
        margin-right: 62px;
        margin-bottom: 90px;
        box-sizing: border-box;
        background: rgba(28, 23, 21, 0.7);
        border-top: 5px solid #f03c02;
     }

     .pg2-btndiv{
        text-align: center;
        margin-left: 142px;
    }

    .pg2-btndiv{
        text-align: center;
        margin-left: 142px;
    }
}


















